.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.head img{
    width: 50px;
}
.choose{
    display: flex;
    justify-content: center;
}
.choose a{
    margin:20px 30px 80px 30px;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
}
.content{
    height:1500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.bat, .bowl{
    width: 750px;
}
.bat >h1, .bowl >h1{
    text-align: center;
    margin-bottom: 50px;
}
.title{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    transform: scale(.9);
    margin:10px;
}
.ranks h2:nth-of-type(1){
    margin-left: 20px;
    font-family: sans-serif;
}
.ranks{
    display: flex;
    align-items: center;
    height:110px;
    border-radius: 20px;
    margin-bottom: 15px;
    transform: scale(.9);
    background-color: white;
}
.ranks h1{
    font-family: sans-serif;
}
.ranks >img{
    width:80px;
    height: 80px;
    margin: auto 10px auto 65px;
    border-radius: 50%;
}
.ranks h3:nth-child(1){
    margin-left: 20px;
}
.ranks h3:nth-child(3){
    width: 220px;
}
.country{
    display: flex;
    align-items: center;
    margin: 30px;
    font-family: sans-serif;
    width: 200px;

}
.country img{
    width:80px;
    margin-right: 10px;
}
.bat .ranks:nth-child(12) >img,.bowl .ranks:nth-child(12) >img{
    margin: auto 10px auto 50px;
}