nav ul li:nth-child(2) a{
    box-shadow: .5px .5px 2px black;
}
.content1{
    height: 600px;
    margin:80px auto 40px auto ;
    background-image: url(../../images/team-india/background.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content1 >img{
    margin-bottom:0px ;
    width:295px;
}
.content1-1{
    text-align: center;
    height: 700px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.head{
    padding:20px;
    border-radius: 20px;
    width: 65%;
    margin: 0px auto;
    background-image:linear-gradient(#1da0fa,#37bef7) ;
}
.head h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
}
.head h3 img{
    width:50px;
}
.
.content1-1 h1{
   font-size: 40px;
   display: inline;
   color: #192d9d;
}
table{
    width: 100%;
    height: 350px;
    box-shadow: 1px 1px 15px black;
}
th{
    padding: 20px;
    background-color: #dd6f68;
}
table tbody tr td:nth-child(1){
    background-color:#1da0fa;
}
table,tr,th,td{
    font-family:sans-serif;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    font-weight: bolder;
}
td:hover{
    background-color: #b6e2ff;
}

.change{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.change a{
    padding: 15px 30px;
    border-radius:20px ;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to bottom right,#1da0fa,#107cc5);
    margin:0px 50px;
}
.change a:hover{
    color: #0c598d;
    background-image: linear-gradient(to bottom right,#a7cfe8,#9bc6e2);
}