body>h1{
    text-align: center;
    margin: 50px auto 0px auto;
    }
    .content{
        width:94%;
        margin: 50px 3%;
    }
    .content1{
        border-radius: 50px;
        display: flex;
        justify-content: space-evenly;
        height: 400px;
        align-items: center;
        text-align: center;
        padding: 40px;
        box-sizing: border-box;
        margin-bottom:20px ;
        background-image: radial-gradient(#b7b6b6,#FAFAFA);
        background-image: url(../images/records/backgrpund.jpeg);
        background-size: cover;
        transform: scale(.9);
    }
    .content1 img {
        width:300px;
        border-radius: 30px;
        box-shadow: -2px -2px  30px black;
    }
    .record{
        height: 300px;
        border-radius: 20px;
    }
    .record h1{
        margin-top:60px;
    }
    .record h3{
        margin-bottom: 30px;
    }
    #rohit, #sachin{
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom right,#04245c,#0a5d8a,#04245c);
    }
    #aaron{
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,#84801d,#989421);

    }
    .batball{
        margin-top: 150px ;
    }