* {
    margin: 0px;
    padding: 0px;
   
}
body{
    background-color:#f7f9fa;
    font-family: 'Carter One', cursive;
}
header {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
}
nav {
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color:#FAFAFA;
}
nav img{
    width:80px;
    margin-left: 30px;
}
nav ul {
    display:flex;
}
nav li {
    list-style: none;
    margin-right: 30px;     
}
nav a {
    padding: 8px 15px ;
    border-radius: 15px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right,#04245c,#229bdc,#04245c);
    font-size: 20px;
    text-decoration: none;

}

.batball{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.batball img{
    width:70px;
    height:70px;
    margin:0px 150px;
}
.batball img:nth-child(2){
    width:50px;
}
footer{
    text-align: center;
    /* margin-top: 50px; */
    background-color: rgb(40, 39, 39);
    color:white;
    padding: 30px;
    font-family:sans-serif;
}
footer h2{
    display: flex;
} 
footer img{
    width: 80px;
}
footer >p{
    margin:30px;            
}

.footericons{
    display: flex;
    justify-content: center;
}
.footericons img{
    width:30px;
    margin: 0px 20px 30px 20px;
    cursor: pointer;
}
.footerlast{
    display: flex;
    justify-content: space-between;
}
.footerlast p:hover{
    letter-spacing: 0.5px;
    transition: .4s;
    cursor: pointer;
    border: white solid;
    border-width: 0px 0px 2px 0px;
}
.footernav{
    display: flex;
}
.footernav a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    padding-bottom: 4px;
}
.footernav a:hover{
    font-size: 17px;
    border: solid white;
    border-width: 0px 0px 2px 0px;
    transition: .4s;
}