nav ul li:nth-child(5) a{
    box-shadow: .5px .5px 2px black;
}
body>h1{
    margin:50px auto 40px auto;
    text-align: center;

}
.container1{
    display: flex;
    align-items: center;
    justify-content:center;
}
.container1>img{
    width: 200px;
    height: 300px;
}
.content1{
    width:800px;
    padding: 20px;
    height:300px;
    margin:50px ;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.content1 p{
    color: rgb(119, 118, 118);
}
.content1-1{
    display: flex;
    justify-content: space-between;
}
.content1-1 p:nth-child(2){
    color: #01411c;
}
.content1-2{
    margin:40px auto;
    display:flex;
    justify-content: space-around;
}
.eng img, .pak img{
    width:80px;
}
.content1-3{
    text-align: center;
}
.matcheslist{
    display: flex;
}
.ended{
    width:740px;
    height: 850px;
}
.ended >h2, .upcoming>h2{
    margin: 50px auto;
    text-align: center;
}

.upcoming {
    width:740px;
    height: 850px;
    border: solid rgb(41, 41, 41);
    border-width: 0px 0px 0px .1px;
}

.endedmat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.upcomingmat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content2{
    width:300px;
    height:200px;
    padding:20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 20px;
    transform: scale(.95);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.content2-1{
    display: flex;
    justify-content: space-between;
    color:grey;
    margin-bottom: 20px;
}
.team1, .team2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.country{
    display: flex;
    align-items: center;
}
.team1 img, .team2 img{
    width:50px;
    margin-right: 10px;
}
.content2 h3{
    text-align: center;
    margin-top: 40px;
}
.endedmat .content2:nth-child(3) h3{
    margin-top: 30px;
}
.endedmat .content2:nth-child(4) h3,.endedmat .content2:nth-child(5) h3{
    margin-top: 20px;
}
.upcomingmat .content2 h3{
    margin-top: 30px;
}
.upcomingmat .content2:nth-child(1) h3,.upcomingmat .content2:nth-child(5) h3{
    margin-top: 50px;
}
