
h1{
    text-align: center;
    margin:50px;
    color:rgb(70, 69, 69);
    letter-spacing: 1.5px;
}
.choose{
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto 150px auto;
}
.bat , .ball{
    width:400px;
    height: 480px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(rgb(83, 83, 83),lightgrey,rgb(83, 83, 83));
    box-shadow: 15px 15px 25px grey;
    text-decoration: none;
    color: black;
}
.bat img, .ball img{
    width:400px;
    border-radius: 30px  30px 0px 0px ;
}

